<p-toast></p-toast>
<p-confirmDialog />

<div class="card flex flex-row gap-4 improved-card">
    <!-- Component Info Section -->
    <div class="col-7 component-info">
        <!-- Header -->
        <header>
            <div class="component-header mb-3 improved-header">
                <h5>Information sur Composant</h5>
                <div class="button-group improved-button-group">
                    <p-button
                        *ngIf="ignoreCount === 0"
                        severity="help"
                        [disabled]="isSentToCoordinator"
                        label="Confirmer les composants"
                        [raised]="true"
                        size="small"
                        (click)="sentComponentToCoordinatorToConfirm()"
                    ></p-button>
                    <!-- <p-button
                        *ngIf="ignoreCount > 0"
                        severity="help"
                        [disabled]="isSentToCoordinator"
                        label="Confirmation Coordinator"
                        [raised]="true"
                        size="small"
                        (click)="sentComponentToCoordinatorToConfirm()"
                    ></p-button> -->
                    <p-button
                        label="Savaugarder {{ composantValues?.name }}"
                        [raised]="true"
                        size="small"
                        (click)="updateComposant()"
                    ></p-button>
                    <p-button
                        [disabled]="!componentsAreConfirmed && ignoreCount == 0"
                        label="Fin liste composants"
                        [raised]="true"
                        size="small"
                        (click)="changeStatusPending3()"
                        severity="success"
                    ></p-button>
                </div>
            </div>

            <div class="flex justify-content-between align-items-center">
                <h6>Composant sélectionné: {{ composantValues?.name }}</h6>
            </div>
        </header>

        <!-- Body Details -->
        <section
            class="component-details p-4 component-details-container"
            [formGroup]="formUpdateComposant"
        >
            <!-- Details Fields -->
            <div class="field component-id-field">
                <h3>ID Composant: {{ composantValues?._id }}</h3>
            </div>

            <div class="field component-package-field">
                <p-inplace closable="closable" [active]="isActive">
                    <ng-template pTemplate="display">
                        <strong>Package:</strong>
                        <span>{{ composantValues?.package }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input
                            type="text"
                            pInputText
                            formControlName="package"
                        />
                    </ng-template>
                </p-inplace>
            </div>

            <div class="col component-arrival-date">
                <label for="coming_date">Date d'arrivage</label>
                <p-calendar
                    ngModel="coming_date"
                    dateFormat="dd.mm.yy"
                    formControlName="coming_date"
                ></p-calendar>
            </div>

            <!-- 
            <div class="field component-link-field">
                <p-inplace closable="closable" [active]="isActive">
                    <ng-template pTemplate="display">
                        <strong>Lien:</strong>
                        <span>{{ composantValues?.link }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input type="text" pInputText formControlName="link" />
                    </ng-template>
                </p-inplace>
            </div> -->

            <div class="col component-purchase-price">
                <label for="prix_achat">Prix d'achat</label>
                <p-inputNumber
                    [showButtons]="true"
                    formControlName="prix_achat"
                    buttonLayout="horizontal"
                    spinnerMode="horizontal"
                    decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    [step]="0.25"
                    mode="currency"
                    currency="TND"
                ></p-inputNumber>
            </div>

            <div class="col component-sale-price">
                <label for="prix_vente">Prix de vente:</label>
                <p-inputNumber
                    [showButtons]="true"
                    formControlName="prix_vente"
                    buttonLayout="horizontal"
                    spinnerMode="horizontal"
                    decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    [step]="0.25"
                    mode="currency"
                    currency="TND"
                ></p-inputNumber>
            </div>

            <div class="col-md-4 stock-quantity-section">
                <div class="d-flex align-items-center stock-quantity-container">
                    <label for="quantity_stocked" class="mr-2 quantity-label">
                        Quantité en stock
                    </label>
                    <p-inputNumber
                        mode="decimal"
                        [showButtons]="true"
                        buttonLayout="vertical"
                        spinnerMode="vertical"
                        formControlName="quantity_stocked"
                        decrementButtonClass="p-button-secondary"
                        incrementButtonClass="p-button-secondary"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        class="input-number-stock"
                    ></p-inputNumber>
                </div>
            </div>

            <!-- 
            <div class="field component-pdf-field">
                <p-inplace closable="closable" [active]="isActive">
                    <ng-template pTemplate="display">
                        <strong>PDF:</strong>
                        <span>{{ composantValues?.pdf }}</span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <input type="text" pInputText formControlName="pdf" />
                    </ng-template>
                </p-inplace>
            </div> -->
        </section>
    </div>

    <!-- Sidebar for Components List -->
    <aside class="col-5 component-list p-2 improved-list">
        <p-orderList
            [value]="composants"
            [listStyle]="{ height: '25rem' }"
            header="Listes des composants"
        >
            <ng-template let-product pTemplate="item">
                <div
                    class="component-item flex flex-wrap p-2 align-items-center gap-3 improved-item"
                    (click)="select(product)"
                >
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">{{
                            product.nameComposant
                        }}</span>
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-tag text-sm"></i>
                            <span>{{ product.quantity }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-orderList>
    </aside>
</div>
