<div class="sav-period-filter" *ngIf="selection">
    <div class="sav-period-filter__chips">
        <button
            type="button"
            class="sav-period-chip"
            *ngFor="let p of presets"
            [class.sav-period-chip--active]="selection.preset === p.key"
            (click)="selectPreset(p.key)"
        >
            {{ p.label }}
        </button>
    </div>

    <p-calendar
        *ngIf="selection.preset === 'CUSTOM'"
        [(ngModel)]="customRange"
        selectionMode="range"
        [readonlyInput]="true"
        dateFormat="dd/mm/yy"
        appendTo="body"
        styleClass="sav-period-filter__range"
        (onSelect)="onCustomRangeChange(customRange)"
    ></p-calendar>
</div>
