<div class="card">
    <p-table [value]="listComposants" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>_id</th>
                <th>Package</th>
                <th>Prix Achat</th>
                <th>Prix Vente</th>
                <th>Coming Date</th>
                <th>Quantity Stocked</th>
                <th>Status Composant</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-composant>
            <tr>
                <td>{{ formatValue(composant._id) }}</td>
                <td>{{ formatValue(composant.package) }}</td>
                <td>{{ formatValue(composant.prix_achat) }}</td>
                <td>{{ formatValue(composant.prix_vente) }}</td>
                <td>
                    {{ getFormattedDate(composant.coming_date) }}
                </td>
                <td>{{ formatValue(composant.quantity_stocked) }}</td>
                <td>{{ formatValue(composant.status_composant) }}</td>
                <td class="flex gap-1">
                    <p-button
                        pRipple
                        label="Edit"
                        class="button-success"
                        severity="success"
                        (click)="updateComposant(composant)"
                    />
                    <p-button
                        pRipple
                        label="delete"
                        class="button-success"
                        severity="danger"
                        (click)="deleteComposant(composant._id)"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog
        [(visible)]="openModalEdit"
        header="Update Composant"
        [modal]="true"
        styleClass="p-fluid"
    >
        <form [formGroup]="updateComposantForm">
            <div class="field">
                <label>Package</label>
                <input pInputText formControlName="package" />
            </div>

            <div class="field">
                <label>Prix Achat</label>
                <p-inputNumber formControlName="prix_achat"></p-inputNumber>
            </div>

            <div class="field">
                <label>Prix Vente</label>
                <p-inputNumber formControlName="prix_vente"></p-inputNumber>
            </div>

            <div class="field">
                <label>Coming Date</label>
                <p-calendar
                    formControlName="coming_date"
                    dateFormat="yy-mm-dd"
                    showIcon="true"
                ></p-calendar>
            </div>

            <div class="field">
                <label>Quantity Stocked</label>
                <p-inputNumber
                    formControlName="quantity_stocked"
                ></p-inputNumber>
            </div>

            <div class="field">
                <label>Status</label>
                <p-dropdown
                    formControlName="status_composant"
                    [options]="statusComposant"
                    optionLabel="name"
                    optionValue="value"
                ></p-dropdown>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button
                label="Cancel"
                icon="pi pi-times"
                [text]="true"
                (onClick)="openModalEdit = false"
            />
            <p-button
                label="Update"
                icon="pi pi-check"
                severity="success"
                [disabled]="updateComposantForm.invalid"
                (onClick)="saveComposant()"
            />
        </ng-template>
    </p-dialog>
</div>
<p-confirmDialog />
<p-toast></p-toast>
