<div class="card">
    <p-button
        (click)="showDialog()"
        icon="pi pi-plus"
        label="Ajouter une société"
    ></p-button>
</div>
<p-dialog
    header="Ajouter une nouvelle société"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="companyForm">
        <!-- Added mt-4 (margin-top: 1rem) -->

        <div class="p-float-label mb-4">
            <input
                formControlName="companyName"
                pInputText
                id="name1"
                class="pInputText w-full"
            />
            <label for="name1">Nom de la société</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="email"
                pInputText
                id="email"
                class="pInputText w-full"
            />
            <label for="email">E-mail</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="region"
                pInputText
                id="region"
                class="pInputText w-full"
            />
            <label for="region">Region</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="address"
                pInputText
                id="address"
                class="pInputText w-full"
            />
            <label for="address">Adresse</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                pInputText
                id="raisonSociale"
                class="pInputText w-full"
                formControlName="raisonSociale"
            />
            <label for="raisonSociale">Raison social</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                pInputText
                id="exoneration"
                class="pInputText w-full"
                formControlName="Exoneration"
            />
            <label for="exoneration">Exoneration</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="fax"
                pInputText
                id="fax"
                class="pInputText w-full"
            />
            <label for="fax">Fax</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="phone"
                pInputText
                id="fax"
                class="pInputText w-full"
            />
            <label for="fax">Phone</label>
        </div>

        <div class="p-float-label mb-4">
            <p-inputGroup class="p-float-label mb-4">
                <p-inputGroupAddon>www</p-inputGroupAddon>
                <input
                    formControlName="website"
                    type="text"
                    pInputText
                    placeholder="Website"
                />
            </p-inputGroup>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="activitePrincipale"
                pInputText
                id="fax"
                class="pInputText w-full"
            />
            <label for="activitePrincipale">Activité principal</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="activiteSecondaire"
                pInputText
                id="fax"
                class="pInputText w-full"
            />
            <label for="activiteSecondaire">Activité secondaire</label>
        </div>

        <div class="flex justify-content-between">
            <p-button
                size="small"
                severity="success"
                label="Service achat"
                badgeClass="p-badge-success"
                badge="0"
                (onClick)="hideShowFormAchat()"
            ></p-button>
            <p-button
                size="small"
                severity="success"
                label="Service technique"
                badgeClass="p-badge-success"
                badge="0"
                (onClick)="hideShowFormTechnique()"
            ></p-button>
            <p-button
                (onClick)="hideShowFormFinancier()"
                size="small"
                severity="success"
                label="Service financier"
                badgeClass="p-badge-success"
                badge="0"
            ></p-button>
        </div>
        <!-- service financier -->
        <div
            formGroupName="financier"
            *ngIf="toHideFinancier"
            class="flex justify-center flex-wrap gap-4 max-w-2xl mt-4"
        >
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- full name field -->
                <h4>Service financier</h4>
                <div class="p-float-label mb-4">
                    <input
                        pInputText
                        id="fullName"
                        class="pInputText w-full"
                        formControlName="fullName"
                    />
                    <label for="fullName">Nom é Prénom</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- Email field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="email"
                        pInputText
                        id="email"
                        class="pInputText w-full"
                    />
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- phone field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="phone"
                        pInputText
                        id="phone"
                        class="pInputText w-full"
                    />
                    <label for="phone">Télephone</label>
                </div>
            </div>
        </div>
        <!-- service achat -->
        <div
            formGroupName="achat"
            *ngIf="toHideAchat"
            class="flex justify-center flex-wrap gap-4 max-w-2xl mt-4"
        >
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- full name field -->
                <h4>Service achat</h4>
                <div class="p-float-label mb-4">
                    <input
                        pInputText
                        id="fullName"
                        class="pInputText w-full"
                        formControlName="fullName"
                    />
                    <label for="fullName">Nom é Prénom</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- Email field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="email"
                        pInputText
                        id="email"
                        class="pInputText w-full"
                    />
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- phone field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="phone"
                        pInputText
                        id="phone"
                        class="pInputText w-full"
                    />
                    <label for="phone">Télephone</label>
                </div>
            </div>
        </div>

        <!-- service technique -->
        <div
            formGroupName="technique"
            *ngIf="toHideTechnique"
            class="flex justify-center flex-wrap gap-4 max-w-2xl mt-4"
        >
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <h4>Service technique</h4>
                <!-- full name field -->
                <div class="p-float-label mb-4">
                    <input
                        pInputText
                        id="fullName"
                        class="pInputText w-full"
                        formControlName="fullName"
                    />
                    <label for="fullName">Nom é Prénom</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- Email field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="email"
                        pInputText
                        id="email"
                        class="pInputText w-full"
                    />
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="flex-grow" style="width: calc(33.33% - 1rem)">
                <!-- phone field -->
                <div class="p-float-label mb-4">
                    <input
                        formControlName="phone"
                        pInputText
                        id="phone"
                        class="pInputText w-full"
                    />
                    <label for="phone">Télephone</label>
                </div>
            </div>
        </div>
    </form>

    <!-- -------- -->
    <ng-template pTemplate="footer">
        <p-button
            label="Submit"
            [loading]="loading"
            (onClick)="addCompany()"
        ></p-button>
        <p-button label="Danger" severity="danger"></p-button>
    </ng-template>
</p-dialog>

<div class="card">
    <p-toast></p-toast>
    <p-table
        [columns]="cols"
        [value]="companiesList"
        styleClass="p-datatable-sm"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td class="flex">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editProduct(rowData)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteSelectedProducts(rowData)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalCompanyRecord"
        [rowsPerPageOptions]="[5, 10, 30]"
    ></p-paginator>
    <p-dialog
        [(visible)]="productDialog"
        [style]="{ width: '450px' }"
        header="Détaille du client"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <img
                [src]="
                    'https://primefaces.org/cdn/primeng/images/demo/product/' +
                    product.image
                "
                [alt]="product.image"
                class="block m-auto pb-3"
                *ngIf="product.image"
            />
            <div class="field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" required autofocus />
                <small class="p-error" *ngIf="submitted && !product.name"
                    >Name is required.</small
                >
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea
                    id="description"
                    pInputTextarea
                    required
                    rows="3"
                    cols="20"
                ></textarea>
            </div>

            <!-- <div class="field">
                <label for="inventoryStatus">Inventory Status</label>
                <p-dropdown
                    [(ngModel)]="product.inventoryStatus"
                    inputId="inventoryStatus"
                    [options]="statuses"
                >
                    <ng-template pTemplate="selectedItem">
                        <p-tag
                            [value]="product.inventoryStatus.toUpperCase()"
                            [severity]="
                                getSeverity(
                                    product.inventoryStatus.toUpperCase()
                                )
                            "
                        ></p-tag>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag
                            [value]="option.label"
                            [severity]="getSeverity(option.label)"
                        ></p-tag>
                    </ng-template>
                </p-dropdown>
            </div> -->

            <div class="field">
                <label class="mb-3">Category</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton
                            id="category1"
                            name="category"
                            value="Accessories"
                        ></p-radioButton>
                        <label for="category1">Accessories</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton
                            id="category2"
                            name="category"
                            value="Clothing"
                        ></p-radioButton>
                        <label for="category2">Clothing</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton
                            id="category3"
                            name="category"
                            value="Electronics"
                        ></p-radioButton>
                        <label for="category3">Electronics</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton
                            id="category4"
                            name="category"
                            value="Fitness"
                        ></p-radioButton>
                        <label for="category4">Fitness</label>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Price</label>
                    <p-inputNumber
                        id="price"
                        mode="currency"
                        currency="USD"
                        locale="en-US"
                    ></p-inputNumber>
                </div>
                <div class="field col">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity"></p-inputNumber>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveProduct()"
            ></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
