<div class="card">
    <p-button
        (click)="showDialog()"
        icon="pi pi-plus"
        label="Ajouter une société"
    ></p-button>
</div>
<p-dialog
    header="Ajouter une nouvelle société"
    [(visible)]="creationCompanyModalCondition"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="companyForm" class="grid grid-cols-3 gap-4 mt-4">
        <div class="p-float-label mb-4">
            <input
                formControlName="companyName"
                pInputText
                id="raisonSociale"
                class="pInputText w-full"
            />
            <label for="raisonSociale">Raison sociale</label>
        </div>

        <div class="p-float-label mb-4">
            <label for="region">Region</label>
            <p-dropdown
                formControlName="region"
                [options]="region"
                optionLabel="name"
                [showClear]="true"
                placeholder="Choisir une region"
                styleClass=" w-full"
            ></p-dropdown>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="address"
                pInputText
                id="address"
                class="pInputText w-full"
            />
            <label for="address">Adresse</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="exoneration"
                pInputText
                id="exoneration"
                class="pInputText w-full"
            />
            <label for="exoneration">Exonération</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="fax"
                pInputText
                id="fax"
                class="pInputText w-full"
            />
            <label for="fax">Fax</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="phone"
                pInputText
                id="phone"
                class="pInputText w-full"
            />
            <label for="phone">Téléphone</label>
        </div>

        <!-- <div class="p-float-label mb-4">
            <p-inputGroup>
                <p-inputGroupAddon>www</p-inputGroupAddon>
                <input
                    formControlName="website"
                    type="text"
                    pInputText
                    placeholder="Website"
                />
            </p-inputGroup>
        </div> -->

        <div class="p-float-label mb-4">
            <input
                formControlName="website"
                pInputText
                id="website"
                class="pInputText w-full"
            />
            <label for="website">Website</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="activitePrincipale"
                pInputText
                id="activitePrincipale"
                class="pInputText w-full"
            />
            <label for="activitePrincipale">Activité principale</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="activiteSecondaire"
                pInputText
                id="activiteSecondaire"
                class="pInputText w-full"
            />
            <label for="activiteSecondaire">Activité secondaire</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="rne"
                pInputText
                id="rne"
                class="pInputText w-full"
            />
            <label for="Rne">RNE</label>
        </div>

        <div class="p-float-label mb-4">
            <input
                formControlName="mf"
                pInputText
                id="mf"
                class="pInputText w-full"
            />
            <label for="mf">Matricule Fiscale</label>
        </div>
    </form>

    <div class="btn-service">
        <p-button
            size="small"
            severity="success"
            label="Service achat"
            (onClick)="hideShowFormAchat()"
        ></p-button>
        <p-button
            size="small"
            severity="help"
            label="Service technique"
            (onClick)="hideShowFormTechnique()"
        ></p-button>
        <p-button
            size="small"
            severity="info"
            label="Service financier"
            (onClick)="hideShowFormFinancier()"
        ></p-button>
    </div>

    <div [formGroup]="companyForm.get('achat')" *ngIf="toHideAchat">
        <h6>Information Responsable Achat</h6>
        <label for="achatName">Nom</label>
        <div class="p-float-label mb-4">
            <input
                formControlName="fullName"
                pInputText
                id="achatName"
                class="pInputText w-full"
            />
        </div>
        <label for="achatPhone">Tél</label>
        <div class="p-float-label mb-4">
            <input
                formControlName="phone"
                pInputText
                id="achatPhone"
                class="pInputText w-full"
            />
        </div>
        <label for="achatEmail">Email</label>
        <div class="p-float-label mb-4">
            <input
                formControlName="email"
                pInputText
                id="achatEmail"
                class="pInputText w-full"
            />
        </div>
    </div>

    <div [formGroup]="companyForm.get('technique')" *ngIf="toHideTechnique">
        <h6>Information Responsable Technique</h6>
        <label for="technique">Nom</label>
        <di>
            <input
                formControlName="fullName"
                pInputText
                id="activiteSecondaire"
                class="pInputText w-full"
            />
        </di>
        <label for="phone">Tél </label>
        <di>
            <input
                formControlName="phone"
                pInputText
                id="phone"
                class="pInputText w-full"
            />
        </di>
        <label for="email">email</label>
        <di>
            <input
                formControlName="email"
                pInputText
                id="email"
                class="pInputText w-full"
            />
        </di>
    </div>

    <div [formGroup]="companyForm.get('financier')" *ngIf="toHideFinancier">
        <h6>Information Responsable Financier</h6>
        <label for="fullName">Nom</label>
        <di>
            <input
                formControlName="fullName"
                pInputText
                id="fullName"
                class="pInputText w-full"
            />
        </di>
        <label for="phone">Tél </label>
        <di>
            <input
                formControlName="phone"
                pInputText
                id="phone"
                class="pInputText w-full"
            />
        </di>
        <label for="email">email</label>
        <di>
            <input
                formControlName="email"
                pInputText
                id="email"
                class="pInputText w-full"
            />
        </di>
    </div>

    <!-- -------- -->
    <ng-template pTemplate="footer">
        <p-button
            (onClick)="annulerUpdate()"
            label="Annuler"
            severity="danger"
        ></p-button>
        <p-button
            label="Ajouter"
            severity="success"
            [loading]="loading"
            (onClick)="addCompany()"
        ></p-button>
    </ng-template>
</p-dialog>

<div class="card">
    <p-toast></p-toast>
    <p-table
        [columns]="cols"
        [value]="companiesList"
        styleClass="p-datatable-sm"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns">
                    <input
                        pInputText
                        type="text"
                        placeholder="Chercher"
                        (input)="
                            onColumnSearch(col.searchKey, $event.target.value)
                        "
                    />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td class="flex">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editCompany(rowData)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-user-edit"
                        class="p-button-rounded mr-2"
                        (click)="modalServices(rowData)"
                        severity="help"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteSelectedCompany(rowData)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalCompanyRecord"
        [rowsPerPageOptions]="[5, 10, 30]"
    ></p-paginator>
    <p-dialog
        [(visible)]="CompanyModalCondition"
        [style]="{ width: '450px' }"
        header="Détails de la société"
        [modal]="true"
        styleClass="p-fluid"
        draggable="false"
    >
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Nom société</label>
                <input
                    type="text"
                    [(ngModel)]="companySelected.name"
                    pInputText
                    id="name"
                    required
                    autofocus
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.name"
                >
                    Name is required.
                </small>
            </div>

            <div class="field">
                <label for="address">Address</label>
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="companySelected.address"
                    id="address"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.address"
                >
                    Address is required.
                </small>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input
                    type="email"
                    pInputText
                    id="email"
                    [(ngModel)]="companySelected.email"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.email"
                >
                    Email is required.
                </small>
            </div>
            <!-- <div class="field">
                <label for="activitePrincipale">Activité Principale</label>
                <input
                    type="text"
                    pInputText
                    id="activitePrincipale"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !client.activitePrincipale"
                >
                    Activité Principale is required.
                </small>
            </div> -->
            <!-- <div class="field">
                <label for="activiteSecondaire">Activité Secondaire</label>
                <input
                    type="text"
                    pInputText
                    id="activiteSecondaire"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !client.activiteSecondaire"
                >
                    Activité Secondaire is required.
                </small>
            </div> -->
            <div class="field">
                <label for="raisonSociale">Raison Sociale</label>
                <input
                    type="text"
                    pInputText
                    id="raisonSociale"
                    [(ngModel)]="companySelected.raisonSociale"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.raisonSociale"
                >
                    Raison Sociale is required.
                </small>
            </div>
            <div class="field">
                <label for="exoneration">Exonération</label>
                <input
                    type="text"
                    pInputText
                    [(ngModel)]="companySelected.Exoneration"
                    id="exoneration"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.exoneration"
                >
                    Exonération is required.
                </small>
            </div>
            <div class="field">
                <label for="fax">Fax</label>
                <input
                    type="text"
                    pInputText
                    id="fax"
                    [(ngModel)]="companySelected.fax"
                    required
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.fax"
                >
                    Fax is required.
                </small>
            </div>
            <div class="field">
                <label for="webSiteLink">Website Link</label>
                <input
                    type="text"
                    pInputText
                    id="webSiteLink"
                    required
                    [(ngModel)]="companySelected.webSiteLink"
                />
                <small
                    class="p-error"
                    *ngIf="submitted && !companySelected.webSiteLink"
                >
                    Website Link is required.
                </small>
            </div>
            <div class="modal-footer">
                <p-button
                    (click)="annuler()"
                    icon="pi pi-times"
                    label="Annuler"
                    [text]="true"
                ></p-button>
                <p-button
                    (click)="saveUpdateCompany()"
                    icon="pi pi-plus"
                    label="Modifier"
                    [text]="true"
                ></p-button>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog
        [(visible)]="detailsView"
        [style]="{ width: '450px' }"
        header="Service Achat - Financier - Technique"
        [modal]="true"
        styleClass="p-fluid"
        draggable="false"
    >
        <ng-template pTemplate="content">
            <div>
                <h4 style="background-color: rgb(93, 244, 115)">
                    Service Achat
                </h4>
                <div class="field">
                    <label for="serviceAchatName">Service Achat Name</label>
                    <input
                        type="text"
                        pInputText
                        id="serviceAchatName"
                        [(ngModel)]="companySelected.serviceAchat.name"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="submitted && !companySelected.serviceAchat.name"
                    >
                        Service Achat Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceAchatEmail">Service Achat Email</label>
                    <input
                        type="email"
                        pInputText
                        id="serviceAchatEmail"
                        [(ngModel)]="companySelected.serviceAchat.email"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="submitted && !companySelected.serviceAchat.email"
                    >
                        Service Achat Email is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceAchatPhone">Service Achat Phone</label>
                    <input
                        type="text"
                        pInputText
                        id="serviceAchatPhone"
                        [(ngModel)]="companySelected.serviceAchat.phone"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="submitted && !companySelected.serviceAchat.phone"
                    >
                        Service Achat Phone is required.
                    </small>
                </div>
            </div>

            <div>
                <h4 style="background-color: rgb(118, 151, 251)">
                    Service Financier
                </h4>
                <div class="field">
                    <label for="serviceFinancierName"
                        >Service Financier Name</label
                    >
                    <input
                        type="text"
                        pInputText
                        id="serviceFinancierName"
                        [(ngModel)]="companySelected.serviceFinancier.name"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceFinancier.name
                        "
                    >
                        Service Financier Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceFinancierEmail"
                        >Service Financier Email</label
                    >
                    <input
                        type="email"
                        pInputText
                        id="serviceFinancierEmail"
                        [(ngModel)]="companySelected.serviceFinancier.email"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceFinancier.email
                        "
                    >
                        Service Financier Email is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceFinancierPhone"
                        >Service Financier Phone</label
                    >
                    <input
                        type="text"
                        pInputText
                        id="serviceFinancierPhone"
                        [(ngModel)]="companySelected.serviceFinancier.phone"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceFinancier.phone
                        "
                    >
                        Service Financier Phone is required.
                    </small>
                </div>
            </div>

            <div>
                <h4 style="background-color: rgb(168, 85, 247)">
                    Service Technique
                </h4>
                <div class="field">
                    <label for="serviceTechniqueName"
                        >Service Technique Name</label
                    >
                    <input
                        type="text"
                        pInputText
                        id="serviceTechniqueName"
                        [(ngModel)]="companySelected.serviceTechnique.name"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceTechnique.name
                        "
                    >
                        Service Technique Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceTechniqueEmail"
                        >Service Technique Email</label
                    >
                    <input
                        type="email"
                        pInputText
                        id="serviceTechniqueEmail"
                        [(ngModel)]="companySelected.serviceTechnique.email"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceTechnique.email
                        "
                    >
                        Service Technique Email is required.
                    </small>
                </div>
                <div class="field">
                    <label for="serviceTechniquePhone"
                        >Service Technique Phone</label
                    >
                    <input
                        type="text"
                        pInputText
                        id="serviceTechniquePhone"
                        [(ngModel)]="companySelected.serviceTechnique.phone"
                        required
                    />
                    <small
                        class="p-error"
                        *ngIf="
                            submitted && !companySelected.serviceTechnique.phone
                        "
                    >
                        Service Technique Phone is required.
                    </small>
                </div>
            </div>

            <div class="modal-footer">
                <p-button
                    (click)="annulerService()"
                    icon="pi pi-times"
                    label="Annuler"
                    [text]="true"
                ></p-button>
                <p-button
                    (click)="saveUpdateServiceCompany()"
                    icon="pi pi-plus"
                    label="Modifier"
                    [text]="true"
                ></p-button>
            </div>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
