:host ::ng-deep .row-in-magasin {
    background-color: rgba(190, 83, 83, 0.15) !important;
}
.element-container {
    margin-bottom: 1rem; /* Adjust spacing as needed */
}
.Slider-buttons {
    display: flex;
    justify-content: space-between;
}
.element-container-BTN {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.Header-btns {
    display: flex;
    justify-content: space-between;
}
.ModalTarifs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerlocation {
    display: flex;
    justify-content: space-around;
}
.location-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    color: var(--text-color);
    background-color: var(--surface-overlay);
    padding: 0.5rem;
    border: 1px solid var(--surface-border);
    border-radius: 0.5rem;
    appearance: none;
    outline: none;
    width: 100%;
    transition: border-color 0.2s;
}

.form-control:focus {
    border-color: var(--primary);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.category-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--surface-overlay);
    padding: 0.5rem;
    border: 1px solid var(--surface-border);
    border-radius: 0.5rem;
    appearance: none;
    outline: none;
    width: 100%;
    transition: border-color 0.2s;
}

.form-control:focus {
    border-color: var(--primary);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
