<p-toast></p-toast>

<div class="card h-10">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
</div>
<p-confirmDialog />

<p-dialog
    header="Gérer les catégories des demandes d'interventions"
    [(visible)]="openCategoryModal"
    [modal]="true"
    [style]="{ width: '30vw', height: '25vw' }"
    [draggable]="false"
    [resizable]="true"
>
    <form [formGroup]="categoryForm" class="form-group-categorieDI">
        <!-- Category Input Section -->
        <div class="form-group-categorieDI">
            <label for="categoryName">Nom de la catégorie</label>
            <input
                formControlName="categoryName"
                id="categoryName"
                type="text"
                class="form-control-categorieDI"
            />
        </div>
        <div class="button-container-categorieDI">
            <p-button
                (click)="addCategoryDi()"
                icon="pi pi-plus"
                label="Ajouter catégorie"
                severity="success"
            ></p-button>
        </div>
    </form>

    <!-- Category Table Section -->
    <p-table
        [columns]="colCategory"
        [value]="categorieDiListDropDown"
        styleClass="p-datatable-sm"
        [tableStyle]="{ 'min-width': '20rem' }"
        class="table-categorieDI"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    class="table-header-categorieDI"
                >
                    {{ col.header }}
                </th>
                <th class="table-header-categorieDI">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="table-row-categorieDI">
                <td *ngFor="let col of columns" class="table-cell-categorieDI">
                    {{ rowData[col.field] }}
                </td>
                <td class="table-actions-categorieDI">
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        (click)="deleteCategory(rowData)"
                        class="delete-btn-categorieDI"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog
    header="Gérer les emplacements"
    [(visible)]="openLocationsModal"
    [modal]="true"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="locationForm" class="location-form-Emplacement">
        <!-- Location Input Section -->
        <div class="form-group-Emplacement">
            <label for="locationName">Nom de l'emplacement a ajouter</label>
            <input
                formControlName="locationName"
                id="locationName"
                type="text"
                class="form-control-Emplacement"
            />
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer-Emplacement">
            <p-button
                (click)="addLocation()"
                icon="pi pi-plus"
                label="Ajouter"
                severity="success"
                class="add-button-Emplacement"
            ></p-button>
        </div>
    </form>

    <!-- Table Section -->
    <p-table
        [columns]="colEmplacement"
        [value]="locationDropDown"
        styleClass="p-datatable-sm"
        [tableStyle]="{ 'min-width': '20rem' }"
        class="table-Emplacement"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th
                    *ngFor="let col of columns"
                    class="table-header-Emplacement"
                >
                    {{ col.header }}
                </th>
                <th class="table-header-Emplacement">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="table-row-Emplacement">
                <td *ngFor="let col of columns" class="table-cell-Emplacement">
                    {{ rowData[col.field] }}
                </td>
                <td class="table-actions-Emplacement">
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        (click)="deletLocation(rowData)"
                        class="delete-button-Emplacement"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog
    header="Affecter Tarif Techniciens"
    [(visible)]="openPriceTechModal"
    [modal]="true"
    [style]="{ width: '35vw' }"
    [draggable]="false"
    [resizable]="false"
    class="dialog-header-pricing"
>
    <form [formGroup]="tarif_Techs" class="form-pricing">
        <!-- Modal Content -->
        <div class="modal-content-pricing">
            <h3 class="current-tarif-text-pricing">
                Tarif actuel : {{ tarif_Tech }} dt/heure
            </h3>

            <div class="new-tarif-container-pricing">
                <label for="tarifFromAdmin" class="label-pricing"
                    >Affecter nouveau Tarif</label
                >
                <input
                    formControlName="tarifFromAdmin"
                    id="tarifFromAdmin"
                    type="number"
                    class="input-tarif-pricing"
                    placeholder="Entrez le tarif"
                />
            </div>

            <p-button
                (onClick)="confirmerTarifs()"
                class="confirm-button-pricing"
                icon="pi pi-check"
                label="Confirmer"
            ></p-button>
        </div>
    </form>
</p-dialog>

<p-dialog
    header="Ajouter une nouvelle Demande d'intervention"
    [(visible)]="openAddDiModal"
    [modal]="true"
    [style]="{ width: '50vw', height: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="creationDiForm">
        <!-- Form Group -->
        <fieldset class="location-form">
            <legend>Informations Générales</legend>

            <!-- Title -->
            <div class="form-group">
                <label for="title">Titre</label>
                <input
                    formControlName="title"
                    id="title"
                    type="text"
                    class="form-control"
                    aria-label="Titre"
                    (keydown)="blockSpecialCharacters($event)"
                />
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea
                    formControlName="description"
                    id="description"
                    rows="3"
                    class="form-control"
                    aria-label="Description"
                ></textarea>
            </div>

            <!-- N°Serie -->
            <div class="form-group">
                <label for="nSerie">N°Serie</label>
                <input
                    formControlName="nSerie"
                    id="nSerie"
                    type="text"
                    class="form-control"
                    aria-label="N°Serie"
                />
            </div>

            <!-- Location Dropdown -->
            <div class="form-group">
                <label for="location">Emplacement</label>
                <p-dropdown
                    id="location"
                    class="emplacement-css"
                    [options]="locationDropDown"
                    formControlName="location"
                    optionLabel="location_name"
                    optionValue="value"
                    placeholder="Choisir emplacement"
                    aria-label="Choisir emplacement"
                ></p-dropdown>
            </div>
        </fieldset>

        <!-- Radio Buttons for Type -->
        <div class="grid">
            <!-- Radio Button Group -->
            <div class="col flex align-items-center flex-row gap-2">
                <div class="radio-group">
                    <p-radioButton
                        (onClick)="getSt($event)"
                        (ngModelChange)="getSt($event)"
                        formControlName="typeClient"
                        value="CLIENT"
                        aria-label="Client"
                    ></p-radioButton>
                    <label class="radio-label ml-2">Client</label>

                    <p-radioButton
                        (onClick)="getSt($event)"
                        formControlName="typeClient"
                        value="COMPANY"
                        aria-label="Société"
                    ></p-radioButton>
                    <label class="radio-label ml-2">Société</label>
                </div>
            </div>

            <!-- Conditional Dropdowns -->
            <div class="col" *ngIf="radioBtn === 'COMPANY'">
                <label for="company" class="dropdown-label">Société</label>
                <p-dropdown
                    id="company"
                    class="dropdown"
                    [options]="companiesListDropDown"
                    formControlName="company_id"
                    optionLabel="company_name"
                    optionValue="value"
                    [showClear]="true"
                    placeholder="Choisir société"
                ></p-dropdown>
            </div>

            <div class="col" *ngIf="radioBtn === 'CLIENT'">
                <label for="client" class="dropdown-label">Client</label>
                <p-dropdown
                    id="client"
                    class="dropdown"
                    [options]="clientListDropDown"
                    formControlName="client_id"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    placeholder="Choisir client"
                ></p-dropdown>
            </div>
        </div>

        <!-- Remarks -->
        <div class="form-group">
            <label for="remarqueManager">Remarque Administration</label>
            <textarea
                id="remarqueManager"
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="remarqueManager"
                class="form-control"
            ></textarea>
        </div>

        <!-- File Upload -->
        <div class="form-group">
            <p-fileUpload
                mode="basic"
                chooseLabel="Ajouter une image"
                chooseIcon="pi pi-upload"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event, 'image')"
                [auto]="true"
            ></p-fileUpload>
            <p *ngIf="uploadFileLoading" class="loading-indicator">
                Uploading... Please wait.
            </p>
        </div>

        <!-- Toggle Button -->
        <div class="field">
            <p-toggleButton
                onLabel="Envoyer => Coordinatrice"
                offLabel="Garder le DI"
                (onChange)="onSelectStatusDefaultDI($event)"
            ></p-toggleButton>
        </div>

        <!-- Modal Footer with Action Buttons -->
        <div class="modal-footer">
            <p-button
                (onClick)="annulerDi()"
                label="Annuler"
                severity="danger"
            ></p-button>

            <p-button
                label="Créer"
                [loading]="loadingCreatingDi || uploadFileLoading"
                (onClick)="createDi()"
                [disabled]="
                    !creationDiForm.get('title').value ||
                    !creationDiForm.get('description').value ||
                    (!creationDiForm.get('client_id').value &&
                        !creationDiForm.get('company_id').value)
                "
            ></p-button>
        </div>
    </form>
</p-dialog>
<div class="card Header-btns flex justify-content-between">
    <p-button
        (click)="showDialogDiCreation()"
        icon="pi pi-file"
        label="Ajouter demande d'intervention"
    ></p-button>
    <p-button
        (click)="showDialogCategoryDI()"
        icon="pi pi-pencil"
        label="Gérer les category DI"
        severity="warning"
    ></p-button>
    <p-button
        (click)="showDialogLocations()"
        icon="pi pi-table"
        label="Gérer les emplacements"
        severity="info"
    ></p-button>
    <p-button
        (click)="showDialogPriceTech()"
        icon="pi pi-dollar"
        label="Tarif des techniciens"
        severity="success"
    ></p-button>
</div>
<div class="card">
    <p-table
        [columns]="cols"
        [value]="diList"
        styleClass="p-datatable-sm"
        [tableStyle]="{ 'min-width': '20rem' }"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                ></button>
                <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-pdf"
                    (click)="exportPdf()"
                    class="p-button-warning mr-2"
                    pTooltip="PDF"
                    tooltipPosition="bottom"
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" style="min-width: 10rem">
                    {{ col.header }}
                    <ng-container>
                        <p-columnFilter
                            *ngIf="col.field !== 'status'"
                            [type]="col.filterType || 'text'"
                            [field]="col.field"
                        ></p-columnFilter>
                    </ng-container>
                    <ng-container *ngIf="col.field === 'status'">
                        <p-columnFilter
                            field="status"
                            matchMode="equals"
                            [showMenu]="false"
                        >
                            <ng-template
                                pTemplate="filter"
                                let-value
                                let-filter="filterCallback"
                            >
                                <p-dropdown
                                    [ngModel]="value"
                                    [options]="statuses"
                                    (onChange)="filter($event.value)"
                                    placeholder="Any"
                                    [showClear]="true"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <p-tag
                                            [value]="option.value"
                                            [severity]="
                                                getSeverity(option.label)
                                            "
                                        ></p-tag>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </ng-container>
                </th>
                <th style="min-width: 10rem">Actions</th>
                <th
                    style="min-width: 10rem"
                    *ngIf="rowData?.status === 'PENDING2'"
                >
                    Pricing
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr
                [ngClass]="{
                    'row-in-retour1': rowData.ignoreCount === 1,
                    'row-in-retour2': rowData.ignoreCount === 2,
                    'row-in-retour3': rowData.ignoreCount === 3,
                    'facture-checked':
                        rowData.facture && rowData.status === 'FINISHED'
                }"
            >
                <td *ngFor="let col of columns">
                    <ng-container
                        *ngIf="
                            col.field !== 'status' && col.field !== 'image';
                            else specialColumn
                        "
                    >
                        {{ rowData[col.field] || "-" }}
                    </ng-container>
                    <ng-template #specialColumn>
                        <ng-container
                            *ngIf="col.field === 'status'; else imageColumn"
                        >
                            <p-tag
                                [value]="rowData[col.field]"
                                [severity]="getSeverity(rowData[col.field])"
                            ></p-tag>
                        </ng-container>
                        <ng-template #imageColumn>
                            <p-image
                                [src]="baseUrl + rowData.image"
                                [alt]="rowData.image"
                                width="50"
                                class="shadow-4"
                                [preview]="true"
                            />
                        </ng-template>
                    </ng-template>
                </td>

                <td class="flex">
                    <button
                        pButton
                        pRipple
                        severity="help"
                        icon="pi pi-book"
                        class="p-button-rounded p-button-raised p-button-success mr-2"
                        (click)="openTicketDetails(rowData)"
                    ></button>
                    <button
                        *ngIf="rowData.status === 'FINISHED'"
                        pButton
                        pRipple
                        icon="pi pi-link"
                        class="p-button-rounded p-button-raised p-button-success mr-2"
                        (click)="openUploadFileFinished(rowData)"
                    ></button>
                    <button
                        *ngIf="
                            rowData.status === 'CREATED' ||
                            rowData.status === 'PENDING1'
                        "
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-raised p-button-success mr-2"
                        (click)="updateDi(rowData)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-raised p-button-danger mr-2"
                        (click)="deleteDi(rowData)"
                    ></button>

                    <button
                        *ngIf="rowData.status === 'PRICING'"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        class="p-button-rounded p-button-raised mr-2"
                        (click)="showDialogForPricing(rowData)"
                    ></button>
                    <button
                        *ngIf="rowData.status === 'NEGOTIATION1'"
                        pButton
                        pRipple
                        icon="pi pi-dollar"
                        class="p-button-rounded p-button-raised p-button-warning mr-2"
                        (click)="showDialogForNegociate1(rowData)"
                    ></button>
                    <button
                        *ngIf="rowData.status === 'NEGOTIATION2'"
                        pButton
                        pRipple
                        icon="pi pi-money-bill"
                        class="p-button-rounded p-button-raised p-button-danger mr-2"
                        (click)="showDialogForNegociate2(rowData)"
                    ></button>

                    <p-button
                        [label]="'Retour' + rowData.ignoreCount.toString()"
                        severity="danger"
                        (click)="ignore(rowData)"
                        [disabled]="
                            rowData.ignoreCount === 3 ||
                            rowData.status !== 'FINISHED'
                        "
                    ></p-button>

                    <p-button
                        *ngIf="
                            rowData.status === 'RETOUR1' ||
                            rowData.status === 'RETOUR2' ||
                            rowData.status === 'RETOUR3'
                        "
                        label="Relancer"
                        severity="info"
                        (click)="changeToPending1(rowData)"
                    ></p-button>

                    <p-button
                        *ngIf="rowData.status === 'CREATED'"
                        label="Pending1"
                        severity="info"
                        (click)="changeToPending1(rowData)"
                        class="pending1-Btn"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="diListCount"
        [rowsPerPageOptions]="[5, 10, 30]"
    ></p-paginator>
</div>

<!-- NEGOTIATION1 -->

<p-dialog
    header="Affectation du prix final"
    [(visible)]="negocite1Modal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="hideNegModal($event)"
>
    <ng-container>
        <div class="dialog-body">
            <!-- File Upload Section -->
            <div class="file-upload-container">
                <div>
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Bon de commande"
                        chooseIcon="pi pi-upload"
                        name="bonDeCommande"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="application/pdf"
                        maxFileSize="10000000"
                        (onUpload)="onUpload($event, 'BC')"
                        [auto]="true"
                    ></p-fileUpload>
                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedBc"
                            [href]="baseUrl + selectedBc"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter BC" [link]="true"></p-button>
                        </a>
                        <a
                            *ngIf="instantSelectedBc"
                            [href]="instantSelectedBc"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter BC preview" [link]="true"></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerBC()"
                            label="Enregistrer BC"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>
                <div class="file-upload-section">
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Devis"
                        chooseIcon="pi pi-upload"
                        name="devis"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="application/pdf"
                        maxFileSize="10000000"
                        (onUpload)="onUpload($event, 'Devis')"
                        [auto]="true"
                    ></p-fileUpload>
                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedDevis"
                            [href]="baseUrl + selectedDevis"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter Devis" [link]="true"></p-button>
                        </a>
                        <a
                            *ngIf="instantSelectedDevis"
                            [href]="instantSelectedDevis"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter Devis preview" [link]="true"></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerDevis()"
                            label="Enregistrer Devis"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>
            </div>

            <!-- Price Details Section -->
            <div class="price-details">
                <h5>Prix Initial: {{ price }}</h5>
                <h4>Prix Final: {{ finalPrice ?? '-' }}</h4>
                <p-inputNumber
                    [(ngModel)]="discountPercent"
                    inputId="percent"
                    prefix="%"
                    [max]="20"
                ></p-inputNumber>
            </div>

            <!-- Discount Slider Section -->
            <div class="discount-slider">
                <p-slider
                    [min]="0"
                    [max]="20"
                    [(ngModel)]="discountPercent"
                    class="slider-full-width"
                    (onSlideEnd)="onSlideEnd($event)"
                ></p-slider>
            </div>

            <!-- Action Buttons Section -->
            <div class="action-buttons">
                <p-button
                    pRipple
                    label="Appliquer Remise"
                    icon="pi pi-dollar"
                    class="button-success"
                    severity="secondary"
                    (click)="discountByPercent()"
                ></p-button>
                <ng-container *ngIf="slideEnd === 20">
                    <button
                        pButton
                        pRipple
                        label="Envoyer a l'Admin Manager"
                        icon="pi pi-send"
                        class="button-success"
                        severity="warn"
                        (click)="nextNegociate2()"
                    ></button>
                </ng-container>
                <p-button
                    pRipple
                    label="Confirmer"
                    icon="pi pi-check-circle"
                    class="button-success"
                    severity="success"
                    [disabled]="!isFormComplete() && ignoreCountNeg1 == 0"
                    (click)="confirmerNegociation(0)"
                ></p-button>
            </div>
        </div>
    </ng-container>
</p-dialog>


<!-- NEGOTIATION2 -->
<p-dialog
    header="Affectation Prix Finale"
    [(visible)]="negocite2Modal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <ng-container>
        <!-- <div>
            Panne de la part :
            {{
                selectedRowInNegociate2?.isErrorFromFixtronix
                    ? "Fixtronix"
                    : "Externe"
            }}
        </div> -->
        <div class="dialog-body">
            <div class="file-upload-container">
                <div>
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Bon de commande"
                        chooseIcon="pi pi-upload"
                        name="bonDeCommande"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="application/pdf"
                        maxFileSize="10000000"
                        (onUpload)="onUpload($event, 'BC')"
                        [auto]="true"
                    />
                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedBc"
                            [href]="baseUrl + selectedBc"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter BC" [link]="true"></p-button>
                        </a>
                        <a
                            *ngIf="instantSelectedBc"
                            [href]="instantSelectedBc"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter BC preview" [link]="true"></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerBC()"
                            label="Enregistrer BC"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>
                <div class="file-upload-section">
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Devis"
                        chooseIcon="pi pi-upload"
                        name="devis"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="application/pdf"
                        maxFileSize="10000000"
                        (onUpload)="onUpload($event, 'Devis')"
                        [auto]="true"
                    />
                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedDevis"
                            [href]="baseUrl + selectedDevis"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter Devis" [link]="true"></p-button>
                        </a>
                        <a
                            *ngIf="instantSelectedDevis"
                            [href]="instantSelectedDevis"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button label="Consulter Devis preview" [link]="true"></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerDevis()"
                            label="Enregistrer Devis"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>
            </div>
            <!-- Price Details Section -->
            <div class="price-details">
                <h5>Prix Initial: {{ price }}</h5>
                <h4>Prix Final: {{ finalPrice }}</h4>
                <p-inputNumber
                    [(ngModel)]="discountPercent"
                    inputId="percent"
                    prefix="%"
                ></p-inputNumber>
            </div>

            <!-- Discount Slider Section -->
            <div class="discount-slider">
                <p-slider
                    [min]="20"
                    [max]="25"
                    [(ngModel)]="discountPercent"
                    class="slider-full-width"
                    (onSlideEnd)="onSlideAdminEnd($event)"
                ></p-slider>
            </div>

            <!-- Discount Button Section -->

            <!-- Confirmation Section -->
            <!-- <div class="confirmation-section">
                <h6>Montant de la remise: {{ discountedPriceNeg }}</h6>
                <ng-container *ngIf="slideAdminEnd === 25">
                    <h6>Vous pouvez affecter un nouveau prix ici:</h6>
                    <p-inputNumber
                        [(ngModel)]="price"
                        inputId="price"
                        [min]="0"
                        [max]="50000"
                        [step]="1"
                        placeholder="Affecter le prix"
                        mode="currency"
                        currency="TND"
                    ></p-inputNumber>
                </ng-container>
            </div> -->
            <div class="action-buttons">
                <p-button
                    pRipple
                    label="Appliquer Remise"
                    icon="pi pi-dollar"
                    class="button-success"
                    severity="secondary"
                    (click)="discountByPercent2()"
                />

                <p-button
                    pRipple
                    label="Confirmer"
                    icon="pi pi-check-circle"
                    class="button-success"
                    severity="success"
                    (click)="confirmerNegociation(1)"
                />
            </div>
        </div>
    </ng-container>
</p-dialog>

<p-dialog
    class="pricing-ad-dialog"
    header="Affectation du prix Intial"
    [(visible)]="pricingModal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <ng-container>
        
        <!-- First Flow -->
        <div class="pricing-ad-container">
            
            <div class="pricing-ad-content">
                @for (item of array_composants; track $index) { @for (composant
                of allComposants; track $index) {
                <p-card class="pricing-ad-card">
                    <div class="pricing-ad-detail">
                        Composant: {{ item.nameComposant }}
                    </div>
                    <div class="pricing-ad-detail">
                        Quantity: {{ item.quantity }}
                    </div>
                    <div class="pricing-ad-detail">
                        Price: {{ composant.prix_vente }}
                    </div>
                </p-card>
                } } @empty { }
                <div *ngIf="ignoreCountPricing > 0">
                    <h6 class="error-status">
                        Erreur Fixtronix:
                        <span
                            class="{{
                                isErrorFromFixtronix
                                    ? 'status-yes'
                                    : 'status-no'
                            }}"
                        >
                            {{ isErrorFromFixtronix ? "OUI" : "NON" }}
                        </span>
                        Retour {{ ignoreCountN1 }}
                    </h6>
                 
                </div>

                <h5 class="pricing-ad-heading">
                    Le temps de diagnostic est de {{ timeDiagnostique }}
                </h5>
                <h5 class="pricing-ad-heading">
                    Facturation diagnostique technicien est de
                    {{ facturationDiagnostique }} TND
                </h5>
                <h5
                    *ngIf="
                        totalComposant && totalComposant !== 0;
                        else noComposant
                    "
                    class="pricing-ad-heading"
                >
                    Le total des composants est égal à {{ totalComposant }} TND
                </h5>
                <ng-template #noComposant>
                    <h5 class="pricing-ad-heading">
                        DI ne contient pas de composants
                    </h5>
                </ng-template>
                <h4 class="pricing-ad-total">
                    <span class="highlight-text">Le côut Total est de</span>
                    {{ totalComposant + facturationDiagnostique }} TND
                </h4>
            </div>
        </div>

        <!-- Return Flow -->
        <div *ngIf="ignoreCount > 0" class="pricing-ad-return">
            <!-- Old Data -->
            <div class="pricing-ad-old-data">
                <span class="pricing-ad-text"
                    >Le temps de diagnostic initial est de
                    {{ timeDiagnostique }}</span
                >
                <span class="pricing-ad-text"
                    >Facturation diagnostique initial est de
                    {{ facturationDiagnostique }} TND</span
                >
                <span
                    *ngIf="
                        totalComposant && totalComposant !== 0;
                        else noComposant
                    "
                    class="pricing-ad-text"
                >
                    Le total des composants avant retour égal à
                    {{ totalComposant }} TND
                </span>
                <ng-template #noComposant>
                    <h5 class="pricing-ad-heading">
                        DI ne contient pas de composants avant retour
                    </h5>
                </ng-template>
                <h4 class="pricing-ad-heading">
                    Le côut Total initial est de
                    {{ totalComposant + facturationDiagnostique }} TND
                </h4>
            </div>
            <!-- New Data of Return -->
            <div class="pricing-ad-new-data">
                <!-- Add any content for the new data of return -->
            </div>
        </div>

        <ng-template #notPrice>
            <i class="pi pi-spin pi-spinner pricing-ad-spinner"></i>
        </ng-template>

        <div class="pricing-ad-message">
            <div class="pricing-ad-text">
                Veuillez affecter le prix initial avant la négociation avec le
                client.
            </div>
        </div>

        <div class="pricing-ad-footer">
            <div class="pricing-ad-footer-container">
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="price"
                    class="pricing-ad-input"
                    [min]="0"
                    [max]="50000"
                    [step]="1"
                    placeholder="Affecter le prix"
                    mode="currency"
                    currency="TND"
                ></p-inputNumber>
                <button
                    pButton
                    pRipple
                    label="Affecter Prix"
                    icon="pi pi-check-circle"
                    class="p-button-rounded p-button-raised p-button-success pricing-ad-button"
                    (click)="pricing()"
                ></button>
            </div>
        </div>
    </ng-container>
</p-dialog>

<!-- finished status -->
<p-dialog
    header="Affectation des Fichiers"
    [(visible)]="filsFinished"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    appendTo="body"
>
    <div>
        <div>
            <h3 class="dialog-title">Consulter Bon de commande & Devis</h3>
            <div class="button-row">
                <div class="button-container-BC">
                    <a
                        [href]="baseUrl + filesSelected?.bon_de_commande"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <p-button label="Consulter BC" [link]="true"></p-button>
                    </a>
                </div>
                <div class="button-container-BC">
                    <a
                        [href]="baseUrl + filesSelected?.bon_de_livraison"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <p-button
                            label="Consulter Bon de livraison"
                            [link]="true"
                        ></p-button>
                    </a>
                </div>
                <div class="button-container-BC">
                    <a
                        [href]="baseUrl + filesSelected?.facture"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <p-button
                            label="Consulter facture"
                            [link]="true"
                        ></p-button>
                    </a>
                </div>
                <div class="button-container-BC">
                    <a
                        [href]="baseUrl + filesSelected?.devis"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <p-button
                            label="Consulter Devis"
                            [link]="true"
                        ></p-button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ng-container>
        <div class="dialog-content">
            <h3 class="dialog-title">Affecter Bon de livraison et Facture</h3>
            <div class="file-upload-row">
                <div class="file-upload-wrapper">
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Bon de livraison"
                        chooseIcon="pi pi-upload"
                        name="blUpload"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept=".pdf"
                        maxFileSize="1000000"
                        (onUpload)="onUpload($event, 'BL')"
                        [auto]="true"
                    ></p-fileUpload>

                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedBL"
                            [href]="
                                selectedBL ??
                                baseUrl +
                                    finishedData?.original?.bon_de_livraison
                            "
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button
                                label="Consulter facture"
                                [link]="true"
                            ></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerBL()"
                            label="Enregistrer BL"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>

                <div class="file-upload-wrapper">
                    <p-fileUpload
                        mode="basic"
                        chooseLabel="Ajouter Facture"
                        chooseIcon="pi pi-upload"
                        name="factureUpload"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept=".pdf"
                        maxFileSize="1000000"
                        (onUpload)="onUpload($event, 'Facture')"
                        [auto]="true"
                    ></p-fileUpload>
                    <div class="button-container-BC">
                        <a
                            *ngIf="selectedFacture"
                            [href]="
                                selectedFacture ??
                                baseUrl + finishedData?.original?.facture
                            "
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <p-button
                                label="Consulter Bon de livraison"
                                [link]="true"
                            ></p-button>
                        </a>
                        <p-button
                            (click)="enregistrerFacture()"
                            label="Enregistrer facture"
                            [link]="true"
                        ></p-button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3>logs</h3>

            <div *ngFor="let files of finishedData?.logs">
                <a href=""> bl: {{ files.bon_de_livraison }}</a>
                <a href=""> bc: {{ files.bon_de_commande }}</a>
                <a href=""> devis: {{ files.devis }}</a>
                <a href=""> facture: {{ files.facture }}</a>
            </div>
        </div>
    </ng-container>
</p-dialog>

<!-- finished status -->

<p-dialog
    header="Information demande d'intervention"
    [(visible)]="ticketDetailsInfo"
    [modal]="true"
    [style]="{ width: '50vw', height: '50vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <div>
        <!-- Title -->
        <div>
            <h3>Titre: {{ ticketData.title }}</h3>
            <!-- Di classique information  -->
            <div class="form-group1">
                <strong class="form-group">Information principaux</strong>
                <div class="form-item">
                    <i class="pi pi-user"></i> <strong>Client ID:</strong>
                    {{ ticketData.client_id }} {{ ticketData.company_id }}
                </div>
                <div class="form-item">
                    <i class="pi pi-user-edit"></i>
                    <strong>Di Créer Par:</strong> {{ ticketData.createdBy }}
                </div>
                <div class="form-item">
                    <i class="pi pi-map-marker"></i>
                    <strong>Emplacement:</strong> {{ ticketData.location_id }}
                </div>
                <div class="form-item">
                    <i class="pi pi-calendar"></i>
                    <strong>Date de creation:</strong>
                    {{ ticketData?.createdAt }}
                </div>
            </div>
        </div>
        <div class="repPDR">
            <h6>Réparable: {{ ticketData.can_be_repaired ? "OUI" : "NON" }}</h6>
            <h6>Contient PDR: {{ ticketData.contain_pdr ? "OUI" : "NON" }}</h6>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                [(ngModel)]="ticketData.description"
                id="description"
                rows="3"
                class="form-control"
                aria-label="Description"
                placeholder="Description"
                disabled="true"
            ></textarea>
        </div>

        <div class="form-group">
            <span id="can_be_repaired"> </span>
            <label for="remarque_tech_diagnostic"
                >Remarque Administration
            </label>
            <textarea
                [(ngModel)]="ticketData.remarque_manager"
                id="Remarque Administration "
                rows="3"
                class="form-control"
                aria-label="Remarque Administration "
                placeholder="remarque Administration "
                disabled="true"
            ></textarea>
        </div>

        <!-- Can Be Repaired -->
        <div class="form-group">
            <span id="can_be_repaired"> </span>
            <label for="remarque_tech_diagnostic"
                >Remarque Tech Diagnostique</label
            >
            <textarea
                [(ngModel)]="ticketData.remarque_tech_diagnostic"
                id="remarque_tech_diagnostic"
                rows="3"
                class="form-control"
                aria-label="remarque_tech_diagnostic"
                placeholder="remarque_tech_diagnostic"
                disabled="true"
            ></textarea>
        </div>

        <div class="form-group">
            <span id="can_be_repaired"> </span>
            <label for="remarque_tech_diagnostic"
                >Remarque Tech Reperation</label
            >
            <textarea
                [(ngModel)]="ticketData.remarque_tech_repair"
                id="remarque_tech_reperation"
                rows="3"
                class="form-control"
                aria-label="remarque_tech_reperation"
                placeholder="remarque_tech_reperation"
                disabled="true"
            ></textarea>
        </div>

        <!-- All 4 files here  -->

        <div class="form-group">
            <div >
                Bon de Livraison:

                <a
                    [href]="baseUrl + ticketData.bon_de_livraison"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-link"
                >
                    Ouvrir
                </a>
            </div>

            <div>
                Bon de commande:

                <a
                    [href]="baseUrl + ticketData.bon_de_commande"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-link"
                >
                    Ouvrir
                </a>
            </div>
            <div>
                Devis:

                <a
                    [href]="baseUrl + ticketData.devis"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-link"
                >
                    Ouvrir
                </a>
            </div>
            <!-- Facture -->
            <div>
                Facture :

                <a
                    [href]="baseUrl + ticketData.facture"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-link"
                >
                    Ouvrir
                </a>
            </div>
        </div>

        <div class="form-group">
            Liste des composants:
            <!-- continue here spread all composant -->
            <p-table
                [value]="ticketData.array_composants"
                [tableStyle]="{ 'min-width': '20rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-component>
                    <tr>
                        <td>{{ component.nameComposant }}</td>
                        <td>{{ component.quantity }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <hr />
        <h6>Logs</h6>
        <div>tech diag : {{ ticketData.techDiag }}</div>
        <div>tech rep : {{ ticketData.techRep }}</div>
        <div *ngFor="let item of ticketData.pauseLogs">
            <div>
                Type:
                {{ item.pauseType === "rep" ? "Réparation" : "Diagnotique" }}
            </div>
            <div>Start pause : {{ item.pauseStart }}</div>
            <div>End pause {{ item.pauseEnd }}</div>
        </div>
    </div>
</p-dialog>

<!-- update ticket  -->

<p-dialog
    [(visible)]="updateticketView"
    [style]="{ width: '450px' }"
    header="Détails du Ticket"
    [modal]="true"
    styleClass="p-fluid"
    draggable="false"
>
    <ng-template pTemplate="content">
        <!-- Ticket ID (Hidden) -->
        <input type="hidden" [(ngModel)]="selectedTicket._id" />

        <!-- Ticket Title -->
        <div class="field">
            <label for="title">Titre</label>
            <input
                type="text"
                [(ngModel)]="selectedTicket.title"
                pInputText
                id="title"
                required
                autofocus
            />
        </div>

        <!-- Description -->
        <div class="field">
            <label for="description">Description</label>
            <textarea
                id="description"
                rows="3"
                [(ngModel)]="selectedTicket.description"
                pInputTextarea
                required
            ></textarea>
        </div>

        <!-- Client ID -->
        <div class="field">
            <label for="clientId">ID Client</label>
            <input
                type="text"
                [(ngModel)]="selectedTicket.client_id"
                pInputText
                id="clientId"
            />
        </div>

        <!-- Created By -->
        <div class="field">
            <label for="createdBy">Créé Par</label>
            <input
                type="text"
                [(ngModel)]="selectedTicket.createdBy"
                pInputText
                id="createdBy"
                disabled
            />
        </div>

        <!-- Location ID -->
        <div class="field">
            <label for="locationId">ID de Localisation</label>
            <input
                type="text"
                [(ngModel)]="selectedTicket.location_id"
                pInputText
                id="locationId"
            />
        </div>

        <!-- Modal Footer with Action Buttons -->
        <div class="modal-footer">
            <p-button
                (click)="cancelUpdateDi()"
                icon="pi pi-times"
                label="Annuler"
                [text]="true"
            ></p-button>
            <p-button
                (click)="saveUpdateTicket()"
                icon="pi pi-plus"
                label="Modifier"
                [text]="true"
            ></p-button>
        </div>
    </ng-template>
</p-dialog>
