:host ::ng-deep .row-in-magasin {
    background-color: rgba(190, 83, 83, 0.15) !important;
}
.element-container {
    margin-bottom: 1rem; /* Adjust spacing as needed */
}
.Slider-buttons {
    display: flex;
    justify-content: space-between;
}
.element-container-BTN {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.Header-btns {
    display: flex;
    justify-content: space-between;
}
.ModalTarifs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerlocation {
    display: flex;
    justify-content: space-between;
}
