<div class="card">
    <p-table
        [columns]="cols"
        [value]="techList"
        [tableStyle]="{ 'min-width': '20rem' }"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" style="min-width: 10rem">
                    {{ col.header }}
                </th>
                <th style="min-width: 2rem">Diagnostique</th>
                <th style="min-width: 2rem">Reparation</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container
                        *ngIf="col.field !== 'status'; else statusColumn"
                    >
                        {{ rowData[col.field] }}
                    </ng-container>
                    <ng-template #statusColumn>
                        <p-tag
                            [value]="rowData[col.field]"
                            [severity]="getSeverity(rowData[col.field])"
                        ></p-tag>
                    </ng-template>
                </td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-wrench"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="diagModal(rowData)"
                    ></button>
                </td>
                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-wrench"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="repModal(rowData)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog
        [(visible)]="diDialogDiag"
        [style]="{ width: '50%', height: '70vh' }"
        header="Diagnostique ..."
        [modal]="true"
        styleClass="p-fluid"
    >
        <!-- -------- -->

        <div class="flex flex-column">
            <div class="field">
                <label for="name">Ecrire quelque chose ...</label>
                <!-- Dropdwon tech for reparation -->
                <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
            <!-- pdr or no -->
            <div class="field">
                <label for="name">Ce travail contient du pdr ,</label>
                <p-toggleButton onLabel="Oui" offLabel="Non"></p-toggleButton>
            </div>
            <!-- reparable or no -->
            <div class="field">
                <label for="name">Cette piece reparable ?</label>
                <p-toggleButton onLabel="Oui" offLabel="Non"></p-toggleButton>
            </div>
            <!-- list of composant -->
            <div class="grid align-items-center">
                <div class="col">
                    <label for="name">Choisir un composant</label>
                    <!-- Dropdwon tech for reparation -->
                    <p-dropdown
                        [options]=""
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                        placeholder="Choisir client"
                        (onChange)="composantSelected($event)"
                        placeholder="composant"
                    ></p-dropdown>
                </div>
                <div class="col">
                    <p-inplace closable="closable">
                        <ng-template pTemplate="display">
                            <button
                                pButton
                                pRipple
                                label="Ajouter un nouveau composant"
                            ></button>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <input
                                type="text"
                                value="nom du composant"
                                pInputText
                            />
                            <p-button icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-inplace>
                </div>
            </div>

            <div class="grid">
                <div class="col">
                    <label for="">Quantité</label>
                    <input pInputText type="text" />
                </div>

                <div class="col">
                    <label for="">état</label>
                    <p-dropdown
                        [options]=""
                        optionLabel="label"
                        optionValue="value"
                        [showClear]="true"
                        placeholder="Choisir client"
                        placeholder="composant"
                    ></p-dropdown>
                </div>
                <div class="col">
                    <label for=""> Date d'arrivage</label>
                    <input pInputText type="text" />
                </div>
            </div>

            <div class="field">
                <!-- to continue other rq -->
                <p-fieldset legend="Remarque" [toggleable]="true">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                    </p>
                </p-fieldset>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-between align-content-center">
                <div
                    class="flex justify-content-between align-items-center field"
                >
                    <p-button
                        (onClick)="startStopwatch()"
                        label="start/stop"
                    ></p-button>
                    <p-button (onClick)="lap()" label="lap"></p-button>
                    <span>Compteur diagnostique</span>
                    <span>{{ minutes }}:{{ seconds }}:{{ milliseconds }}</span>
                </div>
                <div class="field">
                    <button
                        pButton
                        pRipple
                        label="Cancel"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="hideDialogDiag()"
                    ></button>
                </div>
            </div>
        </ng-template>
    </p-dialog>
    <p-dialog
        [(visible)]="diDialogRep"
        [style]="{ width: '50%', height: '70vh' }"
        header="Reparation ..."
        [modal]="true"
        styleClass="p-fluid"
    >
        <!-- -------- -->

        <div class="flex flex-column">
            <div class="field">
                <label for="name">Ecrire quelque chose ...</label>
                <!-- Dropdwon tech for reparation -->
                <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
            <!-- pdr or no -->
            <div class="field">
                <p-toggleButton onLabel="PDR" offLabel="NoPDR"></p-toggleButton>
            </div>
            <!-- reparable or no -->
            <div class="field">
                <p-toggleButton
                    onLabel="Reparable"
                    offLabel="NoReparable"
                ></p-toggleButton>
            </div>
            <!-- list of composant -->
            <div class="field">
                <label for="name">Ecrire quelque chose ...</label>
                <!-- Dropdwon tech for reparation -->
                <p-chips></p-chips>
            </div>

            <div class="field">
                <!-- to continue other rq -->
                <p-fieldset legend="Remarque" [toggleable]="true">
                    <p class="m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                    </p>
                </p-fieldset>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-between align-content-center">
                <div
                    class="flex justify-content-between align-items-center field"
                >
                    <p-button
                        (onClick)="startStopwatch()"
                        label="start/stop"
                    ></p-button>
                    <p-button (onClick)="lap()" label="lap"></p-button>
                    <span>Compteur diagnostique</span>
                    <span>{{ minutes }}:{{ seconds }}:{{ milliseconds }}</span>
                </div>
                <div class="field">
                    <button
                        pButton
                        pRipple
                        label="Cancel"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="hideDialogRep()"
                    ></button>
                </div>
            </div>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
