<p-toast></p-toast>
<div class="card">
    <p-table
        [columns]="cols"
        [value]="techList"
        [tableStyle]="{ 'min-width': '20rem' }"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" style="min-width: 10rem">
                    {{ col.header }}
                </th>
                <th style="min-width: 2rem">Diagnostique</th>
                <th style="min-width: 2rem">Reparation</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container
                        *ngIf="col.field !== 'status'; else statusColumn"
                    >
                        {{ rowData[col.field] }}
                    </ng-container>
                    <ng-template #statusColumn>
                        <p-tag
                            [value]="rowData[col.field]"
                            [severity]="getSeverity(rowData[col.field])"
                        ></p-tag>
                    </ng-template>
                </td>
                <td>
                    <button
                        [disabled]="
                            rowData.status !== 'DIAGNOSTIC' &&
                            rowData.status !== 'INDIAGNOSTIC'
                        "
                        pButton
                        pRipple
                        icon="pi pi-search"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="diagModal(rowData)"
                    ></button>
                </td>
                <td>
                    <button
                        [disabled]="
                            rowData.status !== 'REPARATION' &&
                            rowData.status !== 'INREPARATION'
                        "
                        pButton
                        pRipple
                        icon="pi pi-wrench"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="repModal(rowData)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog
        [(visible)]="diDialogDiag"
        [style]="{ width: '50%', height: '70vh' }"
        header="Diagnostique ..."
        [modal]="true"
        styleClass="p-fluid"
    >
        <!-- -------- -->
        <form [formGroup]="diagFormTech">
            <div class="flex flex-column">
                <div class="field">
                    <label for="name">Description de la Panne a corriger</label>
                    <textarea
                        formControlName="remarqueTech"
                        rows="5"
                        cols="30"
                        pInputTextarea
                    ></textarea>
                </div>
                <!-- pdr or no -->
                <div class="condition-BTN">
                    <div class="field">
                        <label for="name">Cette piece reparable ?</label>
                        <p-toggleButton
                            onLabel="Oui"
                            offLabel="Non"
                            formControlName="isReparable"
                        ></p-toggleButton>
                    </div>
                    <div class="field">
                        <label for="name">Di contient PDR ?</label>
                        <p-toggleButton
                            onLabel="Oui"
                            offLabel="Non"
                            formControlName="isPdr"
                        ></p-toggleButton>
                    </div>
                </div>

                <!-- list of composant -->
                <div class="grid align-items-center">
                    <div class="col">
                        <label for="name">Choisir un composant</label>
                        <p-dropdown
                            [options]="composantList"
                            (onChange)="selectedDropDown($event)"
                            optionLabel="name"
                            placeholder="Choisir composant"
                        ></p-dropdown>
                    </div>
                    <div class="col" *ngIf="composantSelected">
                        <label for="name">Quantité</label>
                        <p-inputNumber
                            inputId="integeronly"
                            formControlName="quantity"
                            [placeholder]="
                                'Add quantity for ' +
                                composantSelected.value.name
                            "
                        ></p-inputNumber>
                    </div>
                    <div class="col" *ngIf="composantSelected">
                        <button
                            pButton
                            pRipple
                            label="Ajouter"
                            class="p-button-success"
                            icon="pi pi-check"
                            (click)="comboComposantandQuantity()"
                        ></button>
                    </div>
                </div>

                <p-toast />
                <p-toolbar styleClass="mb-4 gap-2">
                    <ng-template pTemplate="left">
                        <p-button
                            pRipple
                            severity="success"
                            label="Créer composant"
                            icon="pi pi-plus"
                            class="mr-2"
                            (click)="openNew()"
                        />
                        <p-button
                            pRipple
                            severity="danger"
                            label="Effacer"
                            icon="pi pi-trash"
                            (click)="deleteSelectedProducts()"
                            [disabled]="
                                !composantCombo || !composantCombo.length
                            "
                        />
                    </ng-template>

                    <ng-template pTemplate="right"> </ng-template>
                </p-toolbar>

                <p-table
                    #dt
                    [value]="composantCombo"
                    [rows]="11"
                    [tableStyle]="{ 'min-width': '75rem' }"
                    [(selection)]="selectedComposants"
                    [rowHover]="true"
                    dataKey="nameComposant"
                    [showCurrentPageReport]="true"
                >
                    <ng-template pTemplate="caption">
                        <div
                            class="flex align-items-center justify-content-between"
                        >
                            <h5 class="m-0">Listes des composants</h5>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox />
                            </th>
                            <th pSortableColumn="name" style="min-width: 15rem">
                                Nom composant <p-sortIcon field="name" />
                            </th>
                            <th
                                pSortableColumn="Quantité"
                                style="min-width: 15rem"
                            >
                                Quantité <p-sortIcon field="name" />
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-composantCombo>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="composantCombo" />
                            </td>
                            <td>
                                {{ composantCombo.nameComposant }}
                            </td>

                            <td>
                                {{ composantCombo.quantity }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div
                            class="flex align-items-center justify-content-between"
                        >
                            Ce DI contient
                            {{ composantCombo ? composantCombo.length : 0 }}
                            Composants.
                        </div>
                    </ng-template>
                </p-table>
                <!-- ******* Start of composant creation ********* -->
                <p-dialog
                    [(visible)]="creatComposantDialog"
                    [style]="{ width: '450px' }"
                    header="Creation d'un nouveux composant"
                    [modal]="true"
                    styleClass="p-fluid"
                >
                    <ng-template pTemplate="content">
                        <form [formGroup]="composantTechnicien">
                            <div class="field">
                                <label for="name">Nom composant</label>
                                <input
                                    type="text"
                                    pInputText
                                    id="name"
                                    formControlName="name"
                                    required
                                />
                                <small
                                    class="p-error"
                                    *ngIf="submitted && !composantTech.name"
                                >
                                    Name is required.
                                </small>
                            </div>
                            <div class="field">
                                <label for="packageComposant"
                                    >Package composant</label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    id="package"
                                    formControlName="packageComposant"
                                    required
                                />
                            </div>
                            <div class="field">
                                <label for="link">Lien du composant</label>
                                <input
                                    type="text"
                                    pInputText
                                    id="link"
                                    formControlName="link"
                                />
                            </div>
                        </form>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button
                            pRipple
                            label="Cancel"
                            icon="pi pi-times"
                            [text]="true"
                            (click)="closeComposantModal()"
                        />
                        <p-button
                            pRipple
                            label="Save"
                            icon="pi pi-check"
                            [text]="true"
                            (click)="saveNewComposant()"
                        />
                    </ng-template>
                </p-dialog>
                <!-- ******* END of composant creation ********* -->
            </div>
        </form>

        <ng-template pTemplate="footer">
            <div class="foot">
                <button
                    pButton
                    pRipple
                    label="Mettre DI en Pause"
                    icon="pi pi-spin"
                    class="p-button-text"
                    (click)="lapTimeForPauseAndGetBack()"
                ></button>
                <h1>{{ minutes }}:{{ seconds }}:{{ milliseconds }}</h1>

                <button
                    pButton
                    pRipple
                    label="J'ai fini"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="techFinishDiag()"
                ></button>
            </div>
        </ng-template>
    </p-dialog>

    <p-dialog
        [(visible)]="diDialogRep"
        [style]="{ width: '50%', height: '70vh' }"
        header="Reparation ..."
        [modal]="true"
        styleClass="p-fluid"
    >
        <div class="flex flex-column">
            <div class="field">
                <label for="name">Ecrire quelque chose ...</label>
                <textarea
                    [(ngModel)]="remarqueReparation"
                    [ngModelOptions]="{ standalone: true }"
                    rows="5"
                    cols="30"
                    pInputTextarea
                ></textarea>
            </div>

            <div class="field">
                <p-fieldset legend="Remarque" [toggleable]="true">
                    <p class="m-0">TEXT</p>
                </p-fieldset>
            </div>
            <div class="field">
                <p-fieldset legend="Remarque" [toggleable]="true">
                    <p class="m-0">TEXT</p>
                </p-fieldset>
            </div>
            <div class="field">
                <p-fieldset legend="Remarque" [toggleable]="true">
                    <p class="m-0">TEXT</p>
                </p-fieldset>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="foot">
                <button
                    pButton
                    pRipple
                    label="Je reviendrai"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="lapTimeForPauseAndGetBack1()"
                ></button>
                <h1>{{ minutes1 }}:{{ seconds1 }}:{{ milliseconds1 }}</h1>
                <button
                    pButton
                    pRipple
                    label="J'ai fini"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="finishReparation()"
                ></button>
            </div>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
