<p-toast></p-toast>
<p-confirmDialog />

<div class="container">
    <p-card class="box-container improved-card">
        <ng-template pTemplate="content">
            <div class="card-content">
                <h2 class="card-title">
                    Total:
                    {{
                        diagEnPause_miniDashboard + diagNotOpened_miniDashboard
                    }}
                </h2>
                <div class="card-stats">
                    <h3>
                        En pause:
                        <span class="highlight">{{
                            diagEnPause_miniDashboard
                        }}</span>
                    </h3>
                    <h3>
                        Non ouvert:
                        <span class="highlight">{{
                            diagNotOpened_miniDashboard
                        }}</span>
                    </h3>
                </div>
                <h1 class="card-status">Diagnostic</h1>
            </div>
        </ng-template>
    </p-card>

    <p-card class="box-container improved-card">
        <ng-template pTemplate="content">
            <div class="card-content">
                <h2 class="card-title">
                    Total:
                    {{ repEnPause_miniDashboard + repNotOpened_miniDashboard }}
                </h2>
                <div class="card-stats">
                    <h3>
                        En pause:
                        <span class="highlight">{{
                            repEnPause_miniDashboard
                        }}</span>
                    </h3>
                    <h3>
                        Non ouvert:
                        <span class="highlight">{{
                            repNotOpened_miniDashboard
                        }}</span>
                    </h3>
                </div>
                <h1 class="card-status">Reparation</h1>
            </div>
        </ng-template>
    </p-card>

    <p-card class="box-container improved-card">
        <ng-template pTemplate="content">
            <div class="card-content">
                <h2 class="card-title">
                    Total:
                    {{
                        retour1_miniDashboard +
                            retour2_miniDashboard +
                            retour3_miniDashboard
                    }}
                </h2>
                <div class="card-stats">
                    <h3>
                        Retour 1:
                        <span class="highlight">{{
                            retour1_miniDashboard
                        }}</span>
                    </h3>
                    <h3>
                        Retour 2:
                        <span class="highlight">{{
                            retour2_miniDashboard
                        }}</span>
                    </h3>
                    <h3>
                        Retour 3:
                        <span class="highlight">{{
                            retour3_miniDashboard
                        }}</span>
                    </h3>
                </div>
                <h1 class="card-status">Retour</h1>
            </div>
        </ng-template>
    </p-card>

    <p-card class="box-container improved-card">
        <ng-template pTemplate="content">
            <div class="card-content">
                <h2 class="card-title">
                    Autre: {{ admnistration_miniDashboard }}
                </h2>
                <h2>Finie: {{ finished_miniDashboard }}</h2>
                <h1 class="card-status">Administration</h1>
            </div>
        </ng-template>
    </p-card>
</div>

<div class="card">
    <p-table
        [columns]="cols"
        [value]="techList"
        [tableStyle]="{ 'min-width': '20rem' }"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" style="min-width: 10rem">
                    {{ col.header }}
                </th>
                <th style="min-width: 2rem">Diagnostique</th>
                <th style="min-width: 2rem">Reparation</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr
                [ngClass]="{
                    'row-in-retour1': rowData.ignoreCount === 1,
                    'row-in-retour2': rowData.ignoreCount === 2,
                    'row-in-retour3': rowData.ignoreCount === 3
                }"
            >
                <td *ngFor="let col of columns">
                    <ng-container
                        *ngIf="col.field !== 'status'; else statusColumn"
                    >
                        {{ rowData[col.field] }}
                    </ng-container>
                    <ng-template #statusColumn>
                        <p-tag
                            [value]="rowData[col.field]"
                            [severity]="getSeverity(rowData[col.field])"
                        ></p-tag>
                    </ng-template>
                </td>
                <td>
                    <button
                        [disabled]="
                            (rowData?.status !== 'DIAGNOSTIC' &&
                                rowData?.status !== 'INDIAGNOSTIC' &&
                                rowData?.status !== 'DIAGNOSTIC_Pause') ||
                            isFinishedDiag[rowData?._id] ||
                            rowData?.id_tech_diag !== this.idTech
                        "
                        pButton
                        pRipple
                        icon="pi pi-search"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="diagModal(rowData)"
                    ></button>
                </td>
                <td>
                    <button
                        [disabled]="
                            (rowData.status !== 'REPARATION' &&
                                rowData.status !== 'INREPARATION' &&
                                rowData?.status !== 'REPARATION_Pause') ||
                            isFinishedRep[rowData?._id] ||
                            rowData?.id_tech_rep !== this.idTech
                        "
                        pButton
                        pRipple
                        icon="pi pi-wrench"
                        class="p-button-rounded p-button-raised p-button-secondary mr-2"
                        (click)="repModal(rowData)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="techListCount"
        [rowsPerPageOptions]="[5, 10, 30]"
    ></p-paginator>
    <!-- DIAGNOSTIQUE MODAL -->

    <ng-container *ngIf="di?._id">
        <p-dialog
            [(visible)]="diDialogDiag[di._id]"
            [style]="{ width: '60%', height: '80vh' }"
            [modal]="true"
            styleClass="p-fluid"
            [closable]="false"
        >
            <ng-template pTemplate="content">
                <h1>{{ di._idDi }}</h1>
                <h3 *ngIf="ignoreCount > 0">Retour {{ di.ignoreCount }}</h3>

                <p-image
                    *ngIf="imageValue"
                    [src]="baseUrl + imageValue"
                    [alt]="imageValue"
                    width="300"
                    height="150"
                    class="imageContainer shadow-4"
                    [preview]="true"
                ></p-image>
                <div>
                    <div class="field" *ngIf="remarque_manager">
                        <p-fieldset
                            legend="Remarque admnistration"
                            [toggleable]="true"
                        >
                            <p class="m-0">{{ remarque_manager }}</p>
                        </p-fieldset>
                    </div>
                    <div *ngIf="ignoreCount > 0">
                        <div class="field" *ngIf="remarque_tech_diagnostic">
                            <p-fieldset
                                legend="Remarque Diagnostique Technicien"
                                [toggleable]="true"
                            >
                                <p class="m-0">
                                    {{ remarque_tech_diagnostic }}
                                </p>
                            </p-fieldset>
                        </div>
                        <div class="field" *ngIf="remarque_tech_repair">
                            <p-fieldset
                                legend="Remarque Reparation Technicien"
                                [toggleable]="true"
                            >
                                <p class="m-0">{{ remarque_tech_repair }}</p>
                            </p-fieldset>
                        </div>
                    </div>

                    <span *ngIf="ignoreCount > 0"
                        >Type de Panne: {{ di_category_id }}
                    </span>
                </div>

                <div *ngIf="isLoading">
                    <p>Chargement des données...</p>
                </div>

                <div *ngIf="error" class="error-message">
                    {{ error }}
                </div>

                <div *ngIf="ignoreCount > 0" class="history-container">
                    <div
                        *ngIf="historyOfDi && historyOfDi.length > 0"
                        class="history-list"
                    >
                        <div
                            *ngFor="let item of historyOfDi"
                            class="history-item"
                        >
                            <div class="flow-label">Tech/Temps</div>
                            <div class="diagnostic-info">
                                <span class="label"
                                    >Technicien chargé Diagnostique:</span
                                >
                                <span class="value">{{
                                    item?.id_tech_diag
                                }}</span>
                            </div>
                            <div class="diagnostic-info">
                                <span class="label">Temps Diagnostique:</span>
                                <span class="value">{{ item?.diag_time }}</span>
                            </div>
                            <div class="repair-info">
                                <span class="label"
                                    >Technicien chargé Réparation:</span
                                >
                                <span class="value">{{
                                    item?.id_tech_rep
                                }}</span>
                            </div>
                            <div class="repair-info">
                                <span class="label">Temps Réparation:</span>
                                <span class="value">{{ item?.rep_time }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="ignoreCount > 0">
                    <h3>
                        Liste des composants original et retour N°: ({{
                            ignoreCount
                        }})
                    </h3>
                    <p-table
                        [value]="allComposantLogsAndOriginal"
                        [paginator]="true"
                        [rows]="10"
                        [responsiveLayout]="'scroll'"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Retour N°</th>
                                <th>Nom du Composant</th>
                                <th>Quantité</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-composant>
                            <tr>
                                <td>{{ composant.ignoreCount }}</td>
                                <td>{{ composant.nameComposant }}</td>
                                <td>{{ composant.quantity }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <form [formGroup]="diagFormTech">
                    <div class="flex flex-column">
                        <div>
                            <span *ngIf="ignoreCount > 0">
                                Veuillez changer le type de panne seulement si
                                nécessaire
                            </span>
                            <p-dropdown
                                id="Category_DI"
                                [options]="categorieDiListDropDown"
                                (onChange)="selectedDropDown($event)"
                                optionLabel="category"
                                placeholder="Choisir categorie"
                                optionValue="value"
                                [showClear]="true"
                                formControlName="di_category_id"
                            >
                            </p-dropdown>
                        </div>
                        <div *ngIf="ignoreCount > 0">
                            <div class="justify-content-between">
                                <h3>
                                    Veuiller choisir le type d'erreur client ou
                                    fixtronix
                                </h3>
                                <p-toggleButton
                                    formControlName="isErrorFromFixtronix"
                                    onLabel="Erreur_client"
                                    offLabel="Erreur_Fixtronix"
                                    onIcon="Unlocked"
                                    offIcon="Locked"
                                    styleClass="w-12rem"
                                    ariaLabel="Do you confirm"
                                    class="card flex justify-content-center"
                                />
                            </div>
                        </div>
                        <div *ngIf="ignoreCount == 0" class="supheader field">
                            <label for="name"
                                >Description de la Panne a corriger</label
                            >
                            <textarea
                                formControlName="remarqueTech"
                                rows="3"
                                cols="30"
                                pInputTextarea
                            ></textarea>
                        </div>
                        <div *ngIf="ignoreCount > 0" class="supheader field">
                            <label for="name"
                                >Expliquer le retour pour cette Demande
                                d'intervention
                            </label>
                            <textarea
                                formControlName="remarqueTech"
                                rows="3"
                                cols="30"
                                pInputTextarea
                            ></textarea>
                        </div>

                        <!-- pdr or no -->
                        <div class="condition-BTN">
                            <div class="field">
                                <label for="name"
                                    >Cette piece est réparable ?</label
                                >
                                <p-toggleButton
                                    onLabel="Oui"
                                    offLabel="Non"
                                    formControlName="isReparable"
                                ></p-toggleButton>
                            </div>
                            <div class="field" *ngIf="isReperable">
                                <label for="name">Di contient PDR ?</label>
                                <p-toggleButton
                                    onLabel="Oui"
                                    offLabel="Non"
                                    formControlName="isPdr"
                                ></p-toggleButton>
                            </div>
                        </div>

                        <!-- list of composant -->
                        <ng-container *ngIf="hasPdr && isReperable">
                            <div class="grid align-items-center">
                                <div class="col">
                                    <label for="name"
                                        >Choisir un composant</label
                                    >
                                    <p-dropdown
                                        [options]="composantList"
                                        formControlName="composantSelected"
                                        (onChange)="selectedDropDown($event)"
                                        optionLabel="name"
                                        placeholder="Choisir composant"
                                    ></p-dropdown>
                                </div>
                                <div class="col" *ngIf="composantSelected">
                                    <label for="integeronly">Quantité</label>
                                    <p-inputNumber
                                        inputId="integeronly"
                                        formControlName="quantity"
                                        [placeholder]="
                                            'Add quantity for ' +
                                            composantSelected.value.name
                                        "
                                        [min]="1"
                                        [mode]="'decimal'"
                                    ></p-inputNumber>
                                </div>
                                <div class="col" *ngIf="composantSelected">
                                    <button
                                        pButton
                                        pRipple
                                        label="Ajouter"
                                        class="p-button-success"
                                        icon="pi pi-check"
                                        (click)="comboComposantandQuantity()"
                                    ></button>
                                </div>
                            </div>

                            <p-toast></p-toast>
                            <p-toolbar styleClass="mb-4 gap-2">
                                <ng-template pTemplate="left">
                                    <p-button
                                        pRipple
                                        severity="success"
                                        label="Créer composant"
                                        icon="pi pi-save"
                                        class="mr-2"
                                        (click)="openNew()"
                                    ></p-button>
                                </ng-template>
                            </p-toolbar>

                            <p-table
                                #dt
                                [value]="composantCombo"
                                [rows]="11"
                                [tableStyle]="{ 'min-width': '75rem' }"
                                [(selection)]="selectedComposants"
                                [rowHover]="true"
                                dataKey="nameComposant"
                                [showCurrentPageReport]="true"
                            >
                                <ng-template pTemplate="caption">
                                    <div
                                        class="flex align-items-center justify-content-between"
                                    >
                                        <h5 class="m-0">
                                            Listes des composants
                                        </h5>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 4rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th
                                            pSortableColumn="name"
                                            style="min-width: 15rem"
                                        >
                                            Nom composant
                                            <p-sortIcon
                                                field="name"
                                            ></p-sortIcon>
                                        </th>
                                        <th
                                            pSortableColumn="Quantité"
                                            style="min-width: 15rem"
                                        >
                                            Quantité
                                            <p-sortIcon
                                                field="name"
                                            ></p-sortIcon>
                                        </th>
                                        <th style="min-width: 10rem">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-composant>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox
                                                [value]="composant"
                                            ></p-tableCheckbox>
                                        </td>
                                        <td>{{ composant.nameComposant }}</td>
                                        <td>{{ composant.quantity }}</td>
                                        <td>
                                            <button
                                                pButton
                                                type="button"
                                                icon="pi pi-info-circle"
                                                label="Effacer"
                                                (click)="onRowClick(composant)"
                                            ></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div
                                        class="flex align-items-center justify-content-between"
                                    >
                                        Ce DI contient
                                        {{
                                            composantCombo
                                                ? composantCombo.length
                                                : 0
                                        }}
                                        Composants.
                                    </div>
                                </ng-template>
                            </p-table>
                        </ng-container>

                        <!-- ******* Start of composant creation ********* -->
                        <p-dialog
                            [(visible)]="creatComposantDialog"
                            [style]="{ width: '450px' }"
                            [modal]="true"
                            styleClass="p-fluid"
                            [draggable]="false"
                        >
                            <ng-template pTemplate="content">
                                <form [formGroup]="composantTechnicien">
                                    <div class="field">
                                        <label for="name">Nom composant</label>
                                        <input
                                            type="text"
                                            pInputText
                                            id="name"
                                            formControlName="name"
                                            required
                                        />
                                        <small
                                            class="p-error"
                                            *ngIf="
                                                submitted && !composantTech.name
                                            "
                                        >
                                            Name is required.
                                        </small>
                                    </div>
                                    <div class="field">
                                        <label for="packageComposant"
                                            >Package composant</label
                                        >
                                        <input
                                            type="text"
                                            pInputText
                                            id="package"
                                            formControlName="packageComposant"
                                            required
                                        />
                                    </div>
                                    <div class="field">
                                        <label for="link"
                                            >Lien du composant</label
                                        >
                                        <input
                                            type="text"
                                            pInputText
                                            id="link"
                                            formControlName="link"
                                        />
                                    </div>

                                    <div class="field">
                                        <label>Category</label>
                                        <input
                                            type="text"
                                            pInputText
                                            formControlName="category_composant_id"
                                        />
                                    </div>

                                    <div class="field">
                                        <p-fileUpload
                                            mode="basic"
                                            chooseLabel="Ajouter un PDF"
                                            chooseIcon="pi pi-upload"
                                            name="demo[]"
                                            url="https://www.primefaces.org/cdn/api/upload.php"
                                            accept="image/*,application/pdf"
                                            maxFileSize="1000000"
                                            (onUpload)="onUpload($event)"
                                            [auto]="true"
                                        ></p-fileUpload>
                                    </div>
                                </form>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-button
                                    pRipple
                                    label="Cancel"
                                    icon="pi pi-times"
                                    [text]="true"
                                    (click)="closeComposantModal()"
                                ></p-button>
                                <p-button
                                    pRipple
                                    label="Save"
                                    icon="pi pi-check"
                                    [text]="true"
                                    (click)="saveNewComposant()"
                                ></p-button>
                            </ng-template>
                        </p-dialog>
                        <!-- ******* END of composant creation ********* -->
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="foot">
                    <button
                        pButton
                        pRipple
                        label="Mettre DI en Pause"
                        icon="pi pi-pause-circle"
                        class="p-button-text"
                        (click)="lapTimeForPauseAndGetBack()"
                    ></button>
                    <h1>{{ minutes }}:{{ seconds }}:{{ milliseconds }}</h1>
                    <button
                        *ngIf="ignoreCount > 0 ? false : true"
                        [disabled]="ignoreCount > 0 ? true : false"
                        pButton
                        pRipple
                        label="Fin diagnostique"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="techFinishDiag()"
                    ></button>
                    <button
                        *ngIf="ignoreCount > 0"
                        title="Reperable sans composants"
                        pButton
                        pRipple
                        label="Envoyer-Pending3"
                        class="p-button-text"
                        (click)="changeStatusPending3()"
                    ></button>
                    <button
                        *ngIf="ignoreCount > 0"
                        pButton
                        pRipple
                        label="Fin diagnostique retour"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="saveLogsDi()"
                    ></button>
                </div>
            </ng-template>
        </p-dialog>
    </ng-container>
    <!-- REPERATION MODAL -->
    <p-dialog
        header="Reparation"
        [(visible)]="diDialogRep"
        [style]="{ width: '50%', height: '70vh' }"
        [modal]="true"
        styleClass="p-fluid"
        [maximizable]="true"
        [closable]="false"
    >
        <ng-template pTemplate="content">
            <div class="flex flex-column">
                <div [formGroup]="remarque" class="field">
                    <div>
                        <div>
                            Technicien chargé Diagnostique pour ce DI:
                            {{
                                diStatRepInfo?.getStatInfoForTechReparation
                                    .StatData.id_tech_diag
                            }}
                        </div>
                        <div>
                            Temps de Diagnostique pour ce DI:
                            {{
                                diStatRepInfo?.getStatInfoForTechReparation
                                    .StatData.diag_time
                            }}
                        </div>
                        <div>
                            Location:
                            {{
                                diStatRepInfo?.getStatInfoForTechReparation
                                    .StatData.location_id
                            }}
                        </div>
                        <div
                            *ngIf="
                                diStatRepInfo?.getStatInfoForTechReparation
                                    .diData?.array_composants.length > 0
                            "
                        >
                            <!-- liste Composant:
                            <th
                                *ngFor="
                                    let onecomposant of diStatRepInfo
                                        ?.getStatInfoForTechReparation.diData
                                        ?.array_composants
                                "
                                style="min-width: 10rem"
                            >
                                {{ onecomposant }}
                                {{ onecomposant.nameComposant }} =
                                {{ onecomposant.quantity }}
                            </th> -->
                            <p-table
                                [value]="
                                    diStatRepInfo?.getStatInfoForTechReparation
                                        .diData?.array_composants
                                "
                                [paginator]="true"
                                [rows]="10"
                                [responsiveLayout]="'scroll'"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Retour</th>
                                        <th>Nom du Composant</th>
                                        <th>Quantité</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-composant>
                                    <tr>
                                        <td>{{ composant.ignoreCount }}</td>
                                        <td>{{ composant.nameComposant }}</td>
                                        <td>{{ composant.quantity }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div *ngIf="ignoreCount > 0">
                        <div *ngIf="historyOfDi && historyOfDi.length > 0">
                            <div *ngFor="let item of historyOfDi">
                                <div>
                                    <span
                                        >Technicien chargé Diagnostique:
                                        {{ item?.id_tech_diag }}</span
                                    >
                                    <span
                                        >Temps Diagnostique:
                                        {{ item?.diag_time }}</span
                                    >
                                </div>
                                <div>
                                    <span
                                        >Technicien chargé Réparation:
                                        {{ item?.id_tech_rep }}</span
                                    >
                                    <span
                                        >Temps Réparation:
                                        {{ item?.rep_time }}</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="ignoreCount > 0">
                        <h3>
                            Liste des composants original et retour: ({{
                                ignoreCount
                            }})
                        </h3>
                        <p-table
                            [value]="allComposantLogsAndOriginal"
                            [paginator]="true"
                            [rows]="10"
                            [responsiveLayout]="'scroll'"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Retour</th>
                                    <th>Nom du Composant</th>
                                    <th>Quantité</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-composant>
                                <tr>
                                    <td>{{ composant.ignoreCount }}</td>
                                    <td>{{ composant.nameComposant }}</td>
                                    <td>{{ composant.quantity }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <label for="name">
                        Ajouter des remarques concernant le Di si nécessaire
                    </label>
                    <textarea
                        formControlName="remarqueRepair"
                        rows="5"
                        cols="30"
                        pInputTextarea
                    ></textarea>
                </div>

                <div class="field" *ngIf="remarque_manager">
                    <p-fieldset
                        legend="Remarque admnistration"
                        [toggleable]="true"
                    >
                        <p class="m-0">{{ remarque_manager }}</p>
                    </p-fieldset>
                </div>
                <div class="field" *ngIf="remarque_admin_manager">
                    <p-fieldset
                        legend="remarque_admin_manager"
                        [toggleable]="true"
                    >
                        <p class="m-0">{{ remarque_admin_manager }}</p>
                    </p-fieldset>
                </div>
                <div class="field" *ngIf="remarque_admin_tech">
                    <p-fieldset
                        legend="remarque_admin_tech"
                        [toggleable]="true"
                    >
                        <p class="m-0">{{ remarque_admin_tech }}</p>
                    </p-fieldset>
                </div>
            </div>
            <div class="field" *ngIf="remarque_tech_diagnostic">
                <p-fieldset
                    legend="Remarque Technicien Diagnostique"
                    [toggleable]="true"
                >
                    <p class="m-0">{{ remarque_tech_diagnostic }}</p>
                </p-fieldset>
            </div>
            <div class="field" *ngIf="remarque_magasin">
                <p-fieldset legend="Remarque Magasin" [toggleable]="true">
                    <p class="m-0">{{ remarque_magasin }}</p>
                </p-fieldset>
            </div>
            <div class="field" *ngIf="remarque_coordinator">
                <p-fieldset legend="Remarque Coordinatrice" [toggleable]="true">
                    <p class="m-0">{{ remarque_coordinator }}</p>
                </p-fieldset>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="foot">
                <button
                    pButton
                    pRipple
                    label="Mettre DI en Pause"
                    icon="pi pi-stopwatch"
                    class="p-button-text"
                    (click)="getReamrque(); lapTimeForPauseAndGetBack1()"
                ></button>
                <h1>{{ minutes1 }}:{{ seconds1 }}:{{ milliseconds1 }}</h1>
                <button
                    pButton
                    pRipple
                    label="Fin reperation"
                    icon="pi pi-briefcase"
                    class="p-button-text"
                    (click)="getReamrque(); finishReparation()"
                ></button>
            </div>
        </ng-template>
    </p-dialog>

    <!-- <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog> -->
</div>
